@model Exercise07Form 
@{
ViewData["Title"]="演習-09 HTML Formを作成するタグヘルパーを利用する";  
}
<h2>@ViewData["Title"]</h2>
@* 入力された値を出力 *@
<div class="d-flex justify-content-center mt-5">
    <table class="table table-bordered w-auto">
        <thead class="table-light">
            <tr>
                <th>項目</th>
                <th>入力値</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Html.DisplayNameFor(m => m.Value1)</td>
                <td>@Model.Value1</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(m => m.Value2)</td>
                <td>@Model.Value2</td>
            </tr>
        </tbody>
    </table>
</div>
@* [戻る]ボタン *@
<div class="d-flex justify-content-center">
    <form method="get">
        <button type="button" onclick="location.href='/Exercise09/Enter'">戻る</button>
    </form>
</div>